.link-tool {
  --link-color: #415983;
  --progress-color: #8a459b;
  --background-color: #fafafb;

  --error-bg-color: #fff3f6;
  --error-border-color: #f3e0e0;
  --error-color: #a95a5a;

  position: relative;
  margin: 0.7em 0;
  overflow: hidden;

  &__input {
    padding: 15px 15px 15px 55px;
    background: #fdfdfd;
    font-size: 15px;
    background-image: url('data:image/svg+xml; utf8, <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(166, 164, 168)" d="M14.758 7.25l-3.004 3.002a4.245 4.245 0 0 1-6.005 0 4.242 4.242 0 0 1-.644-.857L6.5 8c.067-.067.148-.105.227-.15.096.329.265.641.524.9a2.125 2.125 0 0 0 3.002 0l3.003-3.002a2.125 2.125 0 0 0 0-3.003 2.126 2.126 0 0 0-3.003 0L9.186 3.814a5.328 5.328 0 0 0-2.71-.295l2.276-2.275a4.247 4.247 0 0 1 6.006 6.005zm-7.94 4.936l-1.069 1.07a2.127 2.127 0 0 1-3.003 0 2.127 2.127 0 0 1 0-3.004L5.75 7.249a2.125 2.125 0 0 1 3.003 0c.259.259.427.57.525.9.078-.046.16-.083.226-.15l1.395-1.394a4.173 4.173 0 0 0-.645-.857 4.246 4.246 0 0 0-6.005 0L1.245 8.75a4.247 4.247 0 0 0 6.006 6.005l2.276-2.275a5.324 5.324 0 0 1-2.71-.295z"/></svg>');
    background-repeat: no-repeat;
    background-position: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &-holder {
      position: relative;

      &--error {
        ^^& {
          background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="#E09393" d="M14.758 7.25l-3.004 3.002a4.245 4.245 0 0 1-6.005 0 4.242 4.242 0 0 1-.644-.857L6.5 8c.067-.067.148-.105.227-.15.096.329.265.641.524.9a2.125 2.125 0 0 0 3.002 0l3.003-3.002a2.125 2.125 0 0 0 0-3.003 2.126 2.126 0 0 0-3.003 0L9.186 3.814a5.328 5.328 0 0 0-2.71-.295l2.276-2.275a4.247 4.247 0 0 1 6.006 6.005zm-7.94 4.936l-1.069 1.07a2.127 2.127 0 0 1-3.003 0 2.127 2.127 0 0 1 0-3.004L5.75 7.249a2.125 2.125 0 0 1 3.003 0c.259.259.427.57.525.9.078-.046.16-.083.226-.15l1.395-1.394a4.173 4.173 0 0 0-.645-.857 4.246 4.246 0 0 0-6.005 0L1.245 8.75a4.247 4.247 0 0 0 6.006 6.005l2.276-2.275a5.324 5.324 0 0 1-2.71-.295z"/></svg>');
          background-color: var(--error-bg-color);
          border-color: var(--error-border-color);
          color: var(--error-color);
          box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, .05);
        }
      }
    }
  }

  &__progress {
    position: absolute;
    box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
    height: 100%;
    width: 0;
    background-color: var(--progress-color);
    opacity: 0.08;

    &--loading {
      width: 90%;
      transition: width 1s ease;
    }

    &--loaded {
      width: 100%;
    }
  }

  &__content {
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #fff;

    &--rendered {
      background: var(--background-color);
      box-shadow: 0 0 0 2px #fff;
    }
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 0 25px 25px;
    background-size: auto 100%;
    width: 70px;
    height: 70px;
    border-radius: 2px;
    float: right;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
  }

  &__description {
    margin-top: 11px;
    font-size: 14px;
    line-height: 1.5em;
  }

  &__anchor {
    display: block;
    margin-top: 15px;
    font-size: 11px;
    color: var(--link-color) !important;
    letter-spacing: 0.2px;
    line-height: 1.25em;
    text-decoration: none !important;
    border: 0 !important;
    padding: 0 !important;
  }
}
